name: VPS Runner

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - name: Update system
        run: sudo apt update -y

      - name: Install Python
        run: sudo apt install -y python3 python3-pip

      - name: Download bot from main repo
        run: |
          wget -O bot.py https://raw.githubusercontent.com/trungnhan1223/bot.py/main/bot.py
          wget -O requirements.txt https://raw.githubusercontent.com/trungnhan1223/bot.py/main/requirements.txt

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Run bot
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        run: python3 bot.py
